---
layout: default
---

<section class="page-photo-header-service-design center-xs"></section>
<!-- previously filled by .page-photo-header-about -->

  <section class="page-section" id="about-service-design" style="padding-bottom: 1em;">

        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
          <div class="col-sm">
          <h2 style="margin-top: 1em;">{{ page.secondary_headline }}</h2>
          <h3>Our teams work side-by-side with City staff to make Austin's services more accessible, reliable, and effective. This work covers three key areas:</h3>
          </div>
        </div>

        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
            <div class="col-sm">
              <h4>Research & Design</h4>
              <p>We gather stakeholders, analyze data, and conduct field research to understand problems and prototype solutions</p>
            </div>
            <div class="col-sm">
              <h4>Technology & Processes</h4>
              <p>We dig in on the details of the technologies and processes behind services to identify gaps and areas for improvement</p>
            </div>
            <div class="col-sm">
              <h4>Community Engagement</h4>
              <p>We bring together city staff, residents, and community organizations as partners through each stage of our process</p>
            </div>
        </div>
    </section>

<section class="page-section section--gray" id="service-design-work" style="padding-bottom: 1em;">
        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
          <div class="col-sm">
          <h2 style="margin-top: 1em;">Recent work</h2>
          <h3>Some of our efforts with partners across the City of Austin</h3>
          </div>
        </div>
        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
            <div class="col-sm" style="padding-bottom: 2em">
              <img src="/assets/img/violet-bag.jpg" alt="Pilot of Violet Bags" style="padding-bottom: .8em">
              <h4>Piloting services for residents experiencing homelessness</h4>
              <p>We've partnered with Watershed Protection and Austin Resource Recovery to launch and evaluate a "violet bag" pilot program for weekly trash collection services.
              <br/><a href="http://www.fox7austin.com/news/local-news/city-launches-pilot-program-that-aims-to-bring-homeless-austinites-weekly-trash-service">Learn more from Fox 7 Austin</a>
              </p>
            </div>
            <div class="col-sm" style="padding-bottom: 2em">
              <img src="/assets/img/sustainable-food.jpg" alt="Interview about Community Gardens" style="padding-bottom: .8em">
              <h4>Designing new processes for permitting community gardens</h4>
              <p>We've partnered with the Office of Sustainability, The Sustainable Food Center, and departments across the City of Austin to remove barriers in our permitting processes.
              <br/><a href="https://medium.com/civiqueso/move-earth-before-planting-seeds-how-austins-residents-tilled-the-community-garden-permit-process-b460e0ac71">Learn more from Medium</a>
              </p>
            </div>
            <div class="col-sm" style="padding-bottom: 2em">
              <img src="/assets/img/police-oversight.jpg" alt="Meeting for Police Oversight" style="padding-bottom: .8em">
              <h4>Creating new tools for police oversight and engagement</h4>
              <p>We've partnered with the Office of Police Oversight to research, design, and deliver new ways for residents to provide feedback about interactions with police.
              <br/><a href="https://www.routefifty.com/public-safety/2019/05/one-citys-journey-filing-complaints-about-police-online/157054/">Learn more from Route Fifty</a>
              </p>

            </div>
        </div>
</section>

<section class="page-section" id="contact">
        <div class="row principle col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
          <div class="col-sm">
          <h2 style="margin-top: 0">Get in touch</h2>
          <h3>We're excited to work with you</h3>
          </div>
        </div>
        <div class="row principle-details col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
            <div class="col-sm" style="padding-bottom: 2em">
              <img class="contact-image" src="/assets/img/hello-image.jpg" alt="a picture of our friendly faces">
            </div>
            <div class="col-sm" style="padding-bottom: 3em">
              <h4>Join us in the lab</h4>
              <p>Book some time with us during Office Hours on Calend.ly, or send an email to <a href="MAILTO:lab@austintexas.gov">lab@austintexas.gov</a></p>
              <a href="https://calendly.com/odd" class="usa-button" style="margin-top: 0">Book an Office Hour</a>
            </div>
            <div class="col-sm" style="padding-bottom: 2em">
              <h4>Ready to start a project?</h4>
              <p>Fill out our quick intake form so we can review</p>
              <a href="http://bit.ly/odd-intake" class="usa-button" style="margin-top: 0">Get started</a>
            </div>
        </div>
